/*
TYPOGRAPHY from address collection
*/

@import url('https://rsms.me/inter/inter-ui.css');
html { font-family: 'Inter UI', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter UI var alt', sans-serif; }
}

h1, .h1{
  font-size: 6rem;
  line-height: 8rem;
  margin-top: 0;
  margin-bottom: 0;
  color: inherit;
}
.h1-large{
  font-size: 8rem;
  line-height: 12rem;
}

h2, .h2{
  font-size: 5rem;
  font-weight: 500;
  line-height: 6rem;
  color: inherit;
}

h3, .h3 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 5rem;
  color: inherit;
}

h4, .h4 {
  font-size: 3.5rem;
  font-weight: 500;
  color: inherit;
  /* line-height: 6rem; */
}
body ,p , .p{
  font-family: 'Inter UI', -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size: 4rem;
  line-height: 8rem;
  color: inherit;
}

a {
  color: inherit;
}

.posts h1, .posts .h1{
  margin-bottom: 8rem;
}

.post h1, .docs h1{
  font-size: 6rem;
  line-height: 8rem;
  margin-top: 0;
  margin-bottom: 8rem;
}
.post h2, .docs h2{
  font-size: 5rem;
  font-weight: 500;
  line-height: 6rem;
  margin-top: 16rem;
  margin-bottom: 4rem;
}

.post h3, .docs h3{
  font-size: 4rem;
  font-weight: 500;
  line-height: 5rem;
  margin-top: 8rem;
  margin-bottom: 4rem;
}
.post p, .docs p{
  font-family: 'Inter UI',-apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 4rem;
  line-height: 8rem;
  margin-top: 0;
  margin-bottom: 4rem;
}

.post ul, .docs ul{
  margin-top: 0;
  margin-bottom: 4rem;
}

.post li p, .docs li p{
  margin-bottom: 2rem;
}

.post img, .docs img {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
